#main{
    margin: 75px auto;
    position: static;
    background-color: rgba(2, 2, 65, 0.3);
    width: 45%;
    height: auto;
    color: white;

}
.area{
height:50px;
    padding-top: 25px;
}
ul:nth-child(1){
    background-color: #ff5858;
}
ul:nth-child(2){
    background-color: #ff8000;
}
ul:nth-child(3){
    background-color: #ff8c1a;
}
ul:nth-child(4){
    background-color: #ff9933;
}
ul:nth-child(5){
    background-color: #ffbf80;
}
body{
    background: url("../image/Wiki-background.jpg") no-repeat
}