<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/Base.css" type="text/css">
</head>
{% block script %}
 script would be here
{% endblock %}
<style>

    #header{
        width: 100%;
        height: 50%;
        background-color: deepskyblue;
        padding: 2%;
}

    </style>
<body>
{% block header %}
<div id = "header">
    test header
    </div>
{% endblock %}

{% block map %}
    map
{% endblock %}

{% block footer %}

{% endblock %}

</body>
</html>