<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    {% block title %}
        <title>Iran Earthquake Report</title>
    {% endblock %}

</head>
{% load staticfiles %}
{% block script %}
 script would be here
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="../static/css/Base.css" type="text/css">

{% endblock %}

<body>
{% block header %}
        <div id="first-div">
            <img src="../static/image/head.jpg" style="width:100%;height:100px"/>
        </div>
{% endblock %}

{#////////////  menu bar /////////////////#}
<ul  id="menu">
    <li> <a class="menu-link" href="/ ">Home </a>  </li>
    <li> <a class="menu-link" href="report"> Report </a> </li>
    <li> <a class="menu-link"  href="statistics"> Statistics </a> </li>
</ul>

{#// /////////////////////////////#}
{##}
{#{% block right-menu %}#}
{#<div id="right-menu">#}
{#<img id="map" class="menu-icon" src="../static/image/map.jpg">#}
{#<img id="report" class="menu-icon" src="../static/image/report.jpg">#}
{#<img id="statistic" class="menu-icon" src="../static/image/statistic.png">#}
{#    </div >#}
{#{% endblock %}#}

{% block map %}
    map
{% endblock %}


{% block footer %}

{% endblock %}

</body>
</html>