{% extends "Base.html" %}
<!DOCTYPE html>
<html>
<head>

    {% block script %}
         <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBQTLDCekz5tS4yQYmjYqPyRa8ahMCn6Oo">

</script>

<script>
function getDates() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
{#    x.innerHTML(today);#}
    var x= document.getElementById('status');
    alert(today);
{#    x.innerHTML += "<div id='date'>" + today +"</div>";#}

}
getDates();

////////////////////////////////////////////////////////////////////
///                          GOOGLE MAP                          ///
///////////////////////////////////////////////////////////////////
function setMarker(map){
    {% for eq in eq_pos %}
{#    alert("{{eq.Region}}");#}

    var pos = new google.maps.LatLng({{ eq.Latitude }},{{ eq.Longitude }});
        var marker=new google.maps.Marker({position:pos});

marker.setMap(map);

    {% endfor %}

}
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(32.0000,53.0000),
    zoom:4,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var Map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
    setMarker(Map)
}
google.maps.event.addDomListener(window, 'load', initialize);



////////////////////////////////////////////////////////////////////////
///                         JQUERY                                   ///
////////////////////////////////////////////////////////////////////////

$(document).ready(function(){
    debugger;
    // to handle menu
    $("img").click(function(){
{#        alert("click shodaaaa barik ");#}
        $.ajax({
            url : '/',
            data : {content:this.id},
            success :function(response){
                $("#frame").html(response);
            },
        })
    });

    // report part filter manager
        $("#search").click(function(){
            $.ajax({
                url:'/report/',
                data: {'state' :$('#state').val(),'magnitude': $('#magnitude').val(),'fdate':$('#fdate').val(),'tdate':$('#tdate').val()},
                method : 'get',

            });

        });
        var x = document.getElementById('status')
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
        x.innerHTML += "Geolocation is not supported by this browser.";
    }
    function showPosition(position) {
        x.innerHTML += "<div id='position'>Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude+"</div>";
}


});

////);///////////////////////////////////////////////////////////////////////////////

      function displayLocation(latitude,longitude){
        var request = new XMLHttpRequest();

        var method = 'GET';
        var url = 'http://maps.googleapis.com/maps/api/geocode/json?latlng='+latitude+','+longitude+'&sensor=true';
        var async = true;

        request.open(method, url, async);
        request.onreadystatechange = function(){
          if(request.readyState == 4 && request.status == 200){
            var data = JSON.parse(request.responseText);
            var address = data.results[0];
              var x  = document.getElementById('status');
            x.innerHTML+="<div id='address'>"+(address.formatted_address)+"</div>";
          }
        };
        request.send();
      };

      var successCallback = function(position){
        var x = position.coords.latitude;
        var y = position.coords.longitude;
        displayLocation(x,y);
      };

      var errorCallback = function(error){
        var errorMessage = 'Unknown error';
        switch(error.code) {
          case 1:
            errorMessage = 'Permission denied';
            break;
          case 2:
            errorMessage = 'Position unavailable';
            break;
          case 3:
            errorMessage = 'Tehran';
            break;
        }
          var x = document.getElementById('status');
        x.innerHTML+="<div id='errot'>"+(errorMessage)+"</div>";
      };

      var options = {
        enableHighAccuracy: true,
        timeout: 1000,
        maximumAge: 0
      };

      navigator.geolocation.getCurrentPosition(successCallback,errorCallback,options);


</script>

    {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/Mainpage.css">
  <link rel="stylesheet" type="text/css" href="../static/css/Base.css">


{% endblock %}

</head>

<body>
    {% block map %}
<div class="main">
        <div id ="frame">
            <div id="googleMap"></div>
        </div>
        <div id="status">

        </div>
        </div>
    {% endblock %}
</body>
</html>
