{% extends  "Base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}
  <title> Report </title>
{% endblock %}
  {% block script %}
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function(){
        $("#search").click(function(){
{#            alert("click!!!!!");#}
            $.ajax({
                type: 'POST',
                url:'/report/',
                data: {'state' :$('#state').val(),'magnitude': $('#magnitude').val(),'fdate':$('#fdate').val(),'tdate':$('#tdate').val(),'csrfmiddlewaretoken':'{{csrf_token}}'},

                success: function(data){

                    $("body").html(data);

                }
            });

        });
            $("#excel").click(function(){
{#                $.ajax({#}
{#                    type: 'GET',#}
{#                    url: '?excel=true'#}
{#                });#}
                window.open("/excel");
            });
});

    </script>
  {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="../static/css/Report.css" type="text/css">
  <link rel="stylesheet" href="../static/css/Base.css" type="text/css">

    {% endblock %}

</head>
<body>
{% block map %}
    <input type="button" id="excel" value="Excel Report">
<div id="filter">
        State : <input type="text" name="state" id="state"  />
        Magnitude : <input type="text" name="Magnitude" id="magnitude">
        Date from : <input type="date" name="fdate" id="fdate"> to  <input type="date" name="tdate" id="tdate">
        <input type="button" id ="search" value="search" >
    </div>
<div class="data-container">
{% for eq in earthquakes reversed%}
    <div class="report-box">
          <div class="data" id="Region"> {{ eq.Region }}</div>
          <div class="data" id="Magnitude"> {{ eq.Magnitude }}</div><br>
          <div class="data" id="Origin_time"> {{eq.Origin_Time}}</div>
          <div class="btn"> <a href="/?eq={{ eq.id }}">Details</a> </div>


    </div>
    {% endfor %}
</div>
{% endblock %}

</body>
</html>